/* howtopublish.module.css */
.container {
  display: flex;
  padding-top: 55px;
  max-width: 1100px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;

}

.subTitle {
  color: #004fa3;
}

.rightSidebar {
  margin-top: 50px;
  position: sticky;
  top: 50px;
  padding: 20px;
  height: fit-content;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
}



.rightSidebar button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.rightSidebar button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
}